<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de VueJS 3</title>
</head>
<body>
    <div id="app">
        <section
            class="main"
            :style="styles"
            >
            <label for="themeBlack">
                <input type="checkbox" :checked="themeBlack" @click="toogleTheme" name="themeBlack" id="themeBlack"> Tema Escuro
            </label>

            <h1>{{ title }}</h1>

            <!-- Uso de propriedade computada fullName -->
            <p>{{ fullName }}</p>

            <hr>

            <h3>Carrinho ({{ cart.length }})</h3>

            <ul id="listaDeProdutos">
                <li v-for="(product, index) in products" :key="index">
                    <p>{{ product.title }}</p>
                    <img v-bind:src="product.image" v-bind:alt="product.title" style="max-width: 150px;">
                    <br>
                    <span>
                        <strong v-if="product.stars > 0">
                            {{ product.stars }}
                        </strong>
                    </span>
                    <br>
                    <!-- <a href="#" v-on:click.prevent="title: 'Vue3'" -->
                    <button
                        type="button"
                        @click="removeCart(product)"
                        v-if="inCart(product)"
                        >REMOVE CART</button>
                    <button
                        type="button"
                        v-on:click="addCart(product)"
                        v-else
                        >ADD CART</button>
                </li>
            </ul>
        </section>

    </div>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="./app.js"></script>
</body>
</html>